requests
nltk
editdistance
spacy

evaluate
torch

# for accessing openai
openai==0.28
# for accessing vicuna 13B
fschat
uvicorn

# selfcheckgpt
bert_score
scikit-learn
matplotlib

# compactie
transformers
bidict
configargparse

# for fastapi
fastapi
uvicorn
diff_match_patch
tiktoken